.article-list-manage
	h1 Article list
	.controll-elem.cf
		input(type="text" placeholder="Search article" ng-model="articleSearch.header")
	.article-header.cf
		ul
			li
				p Header
			li
				p Author
			li
				p Publish date
			li
				p Delete article
	.article-manage-item
		ul.cf(ng-repeat="article in articles | filter: articleSearch | orderBy: sortSelect: reverse = true")
			li
				a(href="/#!/article/{{article._id}}" target="blank") {{article.header}}
			li
				p {{article.author}}
			li
				p {{article.publishDate}}
			li
				button(ng-click="remove(article)").btn.btn-danger.btn-sm Remove
	.load-more-btn(ng-click="loadMoreArticles()") Load more articles