.col-sm-10.col-sm-offset-1.article-wrap.cf
	img(ng-src="/images/uploads/{{article.image}}", alt="")
	h1 {{article.header}}
	hr
	p {{article.text}}
	hr
	ul.cf
		li
			p
				b Author: 
				| {{article.author}}
		li
			p
				b Publish date:
				| {{article.publishDate}}
	hr
	dir-disqus(disqus-shortname="angular-app" disqus-identifier="{{ identifier }}" disqus-url="{{ url }}")