.col-sm-8
	.col-sm-12.article-list-wrap(ng-repeat="article in articles")
		img(src="/images/placeholder.jpg", alt="")
		.col-sm-10.col-sm-offset-1.text-wrap
			h1
				a(href="#/article/{{article._id}}") {{article.header}}
			hr
			p.article-text {{article.text}}
			hr
			ul
				li
					p 
						b Author: 
						{{article.author}}
				li
					p 
						b Publish date: 
						{{article.publishDate}}
.col-sm-4.last-news-block
	h3 Last news
	hr
	ul
		li(ng-repeat="article in articles | limitTo: 7")
			a(href="#/article/{{article._id}}") {{article.header}}
			p {{article.author}} | {{article.publishDate}}
			hr