.col-sm-8(scroll="onScrollToEnd(checker)")
	.col-sm-12.article-list-wrap(ng-repeat="article in articles | limitTo: lim")
		.article-thumb
			img(ng-src="/images/uploads/article_img/{{article.image}}", alt="")
		.col-sm-10.col-sm-offset-1.text-wrap.cf
			h1
				a(href="#!/article/{{article._id}}") {{article.header}}
			hr
			p.article-text {{article.text | limitTo: 400}} ...
			a(href="#!/article/{{article._id}}").btn.btn-default Read more
			hr
			ul.publish-data
				li
					p
						b Author: 
						| {{article.author}}
				li
					p
						b Publish date: 
						| {{article.publishDate}}
.col-sm-4.last-news-block
	h3 Last news
	hr
	ul
		li(ng-repeat="article in articles | limitTo: 7")
			a(href="#!/article/{{article._id}}") {{article.header}}
			p {{article.author}} | {{article.publishDate}}
			hr