doctype html
html(ng-app="mainModule")
	head
		title Angular app
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

	body
		.container
			.col-sm-8.col-sm-offset-2.create-article-header
				h1 Create new article
			.col-sm-8.col-sm-offset-2.article-form.cf
				form(action="/create" method="post" name="create-article" enctype="multipart/form-data")
					label(for="article-header") Header
					input(type="text" name="header" required)
					textarea(name="text" required)
					button(type="submit").btn.btn-success Create
					a(href="/").btn.btn-default Cancel
					input(type="file" name="thumb" accept="image/*" required)