doctype html
html(ng-app="mainModule")
head
	title Angular app
	link(rel='stylesheet', type="text/less", href='/stylesheets/style.less')
	link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

body(ng-cloak)
	.container
		.col-sm-8.col-sm-offset-2.article-header
			h1 Create new article
			hr
		.col-sm-8.col-sm-offset-2.article-form
			form(action="/create" method="post" name="create-article")
				label(for="article-header") Header
				input(type="text" name="header" required)
				textarea(name="text" required)
				button(type="submit").btn.btn-success Create
				a(href="/").btn.btn-default Cancel

script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/angular/angular.js')
script(src='/bower_components/angular-route/angular-route.min.js')
script(src='/bower_components/angular-resource/angular-resource.min.js')
script(src='/javascripts/less/dist/less.min.js')
script(src='/javascripts/controller.js')
script(src='/javascripts/mainmodule.js')
script(src='/javascripts/service.js')
script(src='/javascripts/pageeffects.js')