.col-sm-6.col-sm-offset-3.reg-block(ng-show="showForm")
	h3 Sign up
	form(role="form", name="regForm", action="/register", method="post", ng-submit="createUser()", class="reg-form" enctype="multipart/form-data")
		input(type="text", placeholder="Login", name="username", ng-change="checkUserNickname()", ng-model="userNickname", required)
		input(type="email", placeholder="Email", name="email", ng-change="checkUserEmail()", ng-model="userEmail", required)
		input(type="password", placeholder="Password", name="password", ng-model="userPass", required)
		input(type="password", placeholder="Confirm password", ng-change="checkConfirm()", name="confirmPass", ng-model="confirmPass", required)
		input(type="file", name="avatar", accept="image/*")
		button(type="submit", class="btn btn-primary", ng-disabled="checker") Send
		.error-msg(ng-show="checker")
			p {{note}}