.col-sm-10.col-sm-offset-1.article-wrap.cf
	.article-image
		img(ng-src="/images/uploads/article_img/{{article.image}}", alt="")
	.article-body
		h1(ng-bind="article.header")
		hr
		.text-block(ng-bind-html="html")

	.article-other-data.cf
		if (user)
			.article-like-btn.cf(ng-click="like(article._id)" ng-style="liked")
				.glyphicon.glyphicon-heart.like-icon
				.like-count(ng-bind="article.like")
		.article-author
			span.glyphicon.glyphicon-user.like-icon
			a(href="#!/profile/{{article.author}}" ng-bind="article.author")
		.article-date
			span.glyphicon.glyphicon-calendar
			span(ng-bind="article.publishDate")

	dir-disqus(disqus-shortname="angular-app" disqus-identifier="{{ identifier }}" disqus-url="{{ url }}")
