.userlist-wrap
	h1 User list
	.controll-elem.cf
		input(type="text" placeholder="Search user" ng-model="userSearch.username")
		.v-line
		label(for="sortSelect") Order by:
		select(ng-model="sortSelect" name="sortSelect")
			option(value="username") Username
			option(value="email") Email
			option(value="isAdmin") isAdmin
	.userlist-header
		ul.cf
			li
				p Username
			li
				P Email
			li
				p isAdmin
			li
				p Delete user
	.user
		ul.cf(ng-repeat="user in users | filter: userSearch | orderBy: sortSelect")
			li
				p {{user.username}}
			li
				p {{user.email}}
			li
				input(type="checkbox" ng-checked="user.isAdmin" ng-model="checked" ng-click="setAdmin(user)")
			li
				button(ng-click="remove(user)").btn.btn-danger.btn-sm Remove