.DS_Store
*.log
node_modules

**/uploads/*.gif
**/uploads/*.jpg
**/uploads/*.jpeg
**/uploads/*.png

**/useravatar/*.gif
**/useravatar/*.jpg
**/useravatar/*.jpeg
**/useravatar/*.png

**/uploads/article_img/*.gif
**/uploads/article_img/*.jpg
**/uploads/article_img/*.jpeg
**/uploads/article_img/*.png

**/useravatar/350x350/*.gif
**/useravatar/350x350/*.jpg
**/useravatar/350x350/*.jpeg
**/useravatar/350x350/*.png

!**/useravatar/350x350/user-placeholder.png