doctype html
html(ng-app="adminModule")
	head
		title Angular app: admin panel
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

	body(ng-cloak)
		.ap-menu
			ul
				li
					a(href="/" target="blank")
						span.glyphicon.glyphicon-home
						|To site
				li
					a(href="#/userlist") 
						span.glyphicon.glyphicon-list-alt
						|User list
				li
					a(href="#/article")
						span.glyphicon.glyphicon-file
						|Articles
				li
					a(href="/logout")
						span.glyphicon.glyphicon-log-out
						|Logout

		.ap-view(ng-view)

		script(src="/javascripts/concat/heapofscripts.js")
