doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Chat

		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/normalize.min.css")

	body
		.container
			.col-md-7.col-md-offset-1.chat-warp
				#chat-cont
				form(action="" id="chat")
					input(type="text" id="inpMsg" autocomplete="off")
					button Send
			.col-md-3
				.chat-info-block
					h3 Chat
					p 
						span.glyphicon.glyphicon-user
						spna Online users
					ul(id="online-user")
					a(href="/") 
						span.glyphicon.glyphicon-log-out
						span Go to main

		script(src="/javascripts/a-jquery.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/socket/client.chat.socket.io.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")