doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Chat

		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/normalize.min.css")
	body
		.container
			.col-sm-8.col-sm-offset-2.chat-warp
				.chat-cont
				form(action="" id="chat")
					input(type="text" id="inpMsg" autocomplete="off")
					button Send


		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/concat/app.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
