doctype html
html(ng-app="mainModule" class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		base(href="/")

		title(ng-bind="title") Angular app
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")


	body(ng-cloak)
		<!--[if IE 8]>
		p.chromeframe
			| You are using an <strong>outdated</strong> browser.
			| Please <a href="http://browsehappy.com/">upgrade your browser</a>
			| to improve your experience.
		<![endif]-->

		block page

		script(src="/javascripts/concat/app.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")