*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.radius(@radius: 3px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.transition(@object, @duration: .3s) {
	-webkit-transition: @object @duration;
	-moz-transition: @object @duration;
	-o-transition: @object @duration;
	transition: @object @duration;
}

.transition2(@object, @object2) {
	-webkit-transition: @object .3s, @object2 .3s;
	-moz-transition: @object .3s, @object2 .3s;
	-o-transition: @object .3s, @object2 .3s;
	transition: @object .3s, @object2 .3s;
}

.block-shadow() {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

// color
@red: #F44336;
@link-color: #337ab7;
@header-color: #42A5F5;
@header-border-bottom-color: #2196F3;
@blue-btn-hover: #1875C6;

.cf {
	zoom: 1;
}
.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	background: #E9E8E8 !important;
}

input, textarea {
	outline: none;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999;
}
.status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url('../images/site_preloader.gif');
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

.reg-block {
	.radius;
	.block-shadow;
	padding: 20px;
	background: #fff;

	h3 {
		text-align: center;
		margin: 20px 0;
		font-size: 3em;
	}
}

.signin {
	.block-shadow;
	padding: 30px !important;
	background-color: #fff;
	margin-top: 100px;

	h3 {
		font-size: 3em;
	}

	input[type="text"],
	input[type="password"] {
		.radius;
		margin: 5px 0;
		width: 100%;
		height: 50px;
		border: 1px solid #eee; 
		background-color: #dedede;
		padding: 10px;
		font-size: 1.2em;
	}
	button {
		margin-top: 20px;
	}
}


/* Registrtion form style */

.reg-form {
	width: 70%;
	margin: 0 auto;
	input[type="text"],
	input[type="password"],
	input[type="email"] {
		.radius;
		.transition2(margin-left, width);
		height: 50px;
		width: 100%;
		padding: 10px;
		margin: 7px 0;
		border: 1px solid #dedede;
		font-size: 1.5em;
		background: #F3F3F3;
		color: #333;

		&:focus {
			margin-left: -10px;
			width: 105%;
		}
	}

	button {
		margin-top: 10px;
		width: 70px;
		height: 40px;
	}
}

.reg-block input.ng-pristine {
	border-color: #dedede !important;
}

.reg-block input.ng-invalid {
	border-color: #FF4141;
}

.reg-block input.ng-valid {
	border-color: #12EB00;
}

.error-msg {
	.radius;
	margin: 10px 0;
	padding: 10px 10px 0 10px;
	border: 1px solid #FF5A5A;
	background: #FF9191;
	p {
		color: #fff;
	}
}

.error-msg.ng-hide-add,
.error-msg.ng-hide-remove {
	.transition(opacity);
}

.error-msg.ng-hide-add-active,
.error-msg.ng-hide-remove {
	opacity: 0;
}

.error-msg.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

/* Main page style */

.fixed-nav {
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	z-index: 1000;
	position: fixed;
	min-height: 53px;
	width: 100%;
	background: #333;
	top: 0;

	ul.nav {
		float: left;
		li {
			list-style-type: none;
			float: left;

			a {
				.transition2(color, background);
				font: 1.2em 'PT Sans', sans-serif;
				padding: 15px;
				color: #aaa;
				text-decoration: none;
				display: block;

				&:hover {
					background: #555;
					color: #fff;
					border-bottom: 3px solid @header-color;
				}
				&:focus {
					background: #555;
					color: #fff;
					border-bottom: 3px solid @header-color;
				}
			}
		}
	}

	ul.auth {
		float: right;
		margin: 10px;
		li {
			list-style-type: none;
			float: left;
			margin-left: 5px;
			a {
				.radius(5px);
				.transition2(color, background);
				text-decoration: none;
				color: #aaa;
				padding: 5px;
				display: block;
				border: 1px solid #aaa;

				&:hover {
					color: #333;
					background: #fff;
					border-color: #fff;
				}
			}
		}
	}
}

.modal-window-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	opacity: .7;
	background: #333;
	z-index: 10;
	display: none;
}

.modal-window {
	-webkit-box-shadow: 0 2px 20px rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 20px rgba(0,0,0,.4);
	box-shadow: 0 2px 20px rgba(0,0,0,.4);
	top: 50%;
	left: 50%;
	display: none;
	margin-left: -250px;
	margin-top: -250px;
	min-width: 500px;
	height: 500px;
	background: #fff;
	position: fixed;
	padding: 20px;
	z-index: 20;
	text-align: center;

	img {
		border: 1px solid #ccc;
		height: 250px;
		margin: 10px 0;
	}
	button {
		.transition(background);
		.radius;
		position: absolute;
		bottom: 20px;
		left: 50%;
		right: 50%;
		margin-left: -50px;
		width: 100px;
		height: 50px;
		background: #428bca;
		color: #fff;
		font-size: 1.2em;
		border: none;

		&:hover {
			background: #377AB4;
		}
	}
}

#inp-new-photo {
	.radius;
	position: relative;
	display: block;
	width: 250px;
	height: 50px;
	border: none;
	background: #eee;
	margin: 10px auto;
	&:hover {
		cursor: pointer;
	}
}

#inp-new-photo:after {
	.radius;
	.transition(background);
	content: 'Select photo';
	background: #B4B4B4;
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 15px;
	text-align: center;
}

#inp-new-photo:hover:after {
	background: #949494;
}

.modal-window.ng-hide-add,
.modal-window-wrap.ng-hide-add,
.modal-window.ng-hide-remove,
.modal-window-wrap.ng-hide-remove,
.modal-msg-window.ng-hide-add,
.modal-msg-window.ng-hide-remove,
.modal-msg-window-wrap.ng-hide-add,
.modal-msg-window-wrap.ng-hide-remove {
	.transition(opacity);
}

.profile-block.ng-hide-add-active,
.profile-block.ng-hide-remove,
.modal-window-wrap.ng-hide-add-active,
.modal-window-wrap.ng-hide-remove,
.modal-window.ng-hide-add-active,
.modal-window.ng-hide-remove,
.modal-msg-window-wrap.ng-hide-add-active,
.modal-msg-window-wrap.ng-hide-remove,
.modal-msg-window.ng-hide-add-active,
.modal-msg-window.ng-hide-remove {
	opacity: 0;
}

.profile-block.ng-hide-remove.ng-hide-remove-active,
.modal-window.ng-hide-remove.ng-hide-remove-active,
.modal-msg-window.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

.modal-window-wrap.ng-hide-remove.ng-hide-remove-active,
.modal-msg-window-wrap.ng-hide-remove.ng-hide-remove-active {
	opacity: .7;
}

.new-article-btn {
	margin: 10px;

	a {
		.radius(5px);
		.transition(background);
		float: right;
		text-decoration: none;
		color: #fff;
		padding: 5px;
		display: block;
		border: 1px solid #fff;
		margin: 0 15px;

		&:hover {
			text-decoration: none;
			color: #333;
			background: #fff;
		}
	}
}

.profile-btn {
	width: 150px;
	height: 53px;
	float: right;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	a {
		.transition2(border-bottom, background);
		width: 100%;
		height: 100%;
		display: block;
		color: #aaa;
		padding: 5px;
		&:hover {
			text-decoration: none;
			color: #fff;
			background: #555;
			border-bottom: 3px solid @header-color;
		}
		&:focus {
			color: #fff;
			text-decoration: none;
		}
	}
	img {
		.radius(20px);
		margin-left: 5px;
		width: 40px;
		height: 40px;
		float: left;
	}
	p {
		margin-top: 10px;
		text-align: center;
	}
}

.mailbox-btn {
	position: relative;
	width: 60px;
	height: 53px;
	float: right;

	.transition2(border-bottom, background);
	border-left: 1px solid #555;
	color: #fff;
	text-align: center;
	padding-top: 16px;
	display: block;

	&:hover {
		background-color: #555;
		border-bottom: 3px solid @header-color;
		color: #fff;
		cursor: pointer;
	}
	&:focus {
		color: #fff;
	}

	span#msg-icon {
		color: #aaa;
		font-size: 1.4em;
	}
	span#msg-count {
		.radius(10px);
		width: 20px;
		height: 20px;
		position: absolute;
		top: 5px;
		left: 35px;
		background-color: @red;
	}
}

.container {
	position: relative;
}

.profile-block {
	.transition2(top, opacity);
	.block-shadow;
	background: #fff;
	position: absolute;
	top: -220px;
	right: 15px;
	padding: 20px;
	opacity: 0;
	z-index: 100;

	.pb-img-wrap {
		.radius(75px);
		width: 150px;
		height: 150px;
		overflow: hidden;
		float: left;
		margin-right: 20px;
		text-align: center;
	}
	.pb-userinfo-wrap {
		float: left;
		width: 230px;
		padding: 10px;
		border-left: 1px solid #dedede;
		p.username {
			width: 100%;
			margin-left: 20px;
			font-size: 1.6em;
			color: #555;
			float: left;
		}
		p.pb-u-email {
			width: 100%;
			margin-left: 20px;
			color: #aaa;
			font-size: 1.2em;
			loat: left;
		}
		a.user-logout {
			.radius;
			.transition(background);
			text-align: center;
			margin-left: 10px;
			margin-top: 20px;
			float: left;
			width: 100%;
			background: #dedede;
			color: #fff;
			padding: 10px;

			&:hover {
				text-decoration: none;
				background: #aaa;
			}
			&:focus {
				text-decoration: none;
			}
		}
		a.admin-logout {
			.radius;
			.transition(background);
			text-align: center;
			margin-left: 10px;
			margin-top: 20px;
			float: left;
			background: #dedede;
			color: #fff;
			padding: 10px;

			&:hover {
				text-decoration: none;
				background: #aaa;
			}
			&:focus {
				text-decoration: none;
			}
		}
		a.admin-panel-btn {
			.radius;
			.transition(background);
			text-align: center;
			margin-left: 10px;
			margin-top: 20px;
			float: left;
			background: #dedede;
			color: #fff;
			padding: 10px;

			&:hover {
				text-decoration: none;
				background: #aaa;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
}


.vertical-center {
	width: 100%;
}

.horizontal-center {
	height: 100%;
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.square-img {
	width: 100%;
}

.avatar-change-btn {
	.transition(opacity);
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	color: #fff;
	background: #428bca;
	border: 1px solid #428bca;
	width: 190px;
	height: 60px;
}

.pb-img-wrap:hover .avatar-change-btn {
	opacity: .9;
}

.profile-active {
	top: 53px;
	opacity: 1;
}

.view {
	margin: 100px 0;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
}

.userlist-wrap {
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
}

.userlist-header {
	margin: 0 auto;
	background: #333;
	color: #fff;
	margin-bottom: 10px;

	input {
		.radius;
		border-color: 1px solid #dedede;
		color: #333;
		padding: 3px;
	}

	ul{
		margin: 0;
		li {
			&:first-child {
				margin-left: 15px;
				width: 10%;
			}
			&:nth-child(2) {
				width: 15%;
			}
			&:last-child {
				width: 15%;
			}
			p {
				font-size: 1.2em;
				margin: 0;
			}
			width: 10%;
			list-style-type: none;
			float: left;
			margin: 0 30px;
			padding: 10px;
		}
	}
}

.v-line {
	border-right: 1px solid #C5C5C5;
	border-left: 1px solid #8E8E8E;
	width: 1px;
	height: 40px;
	float: left;
	margin: 0 20px;
}

.controll-elem {
	padding: 5px;
	width: 100%;
	background: #bbb;
	height: 60px;
	margin-bottom: -10px;

	input[type="text"] {
		padding: 3px;
		width: 300px;
		border: none;
		height: 40px;
		margin-right: -15px;
		float: left;
	}
	select {
		background: #fff;
		border: none;
		width: 120px;
		height: 40px;
		outline: none;
		padding: 5px;
		margin-left: 20px;
	}

}

.user {
	ul {
		border: 1px solid #dedede;
		background: #fff;
		padding: 4px;
		padding-left: 30px;
		margin: 5px;
		li {
			&:first-child {
				margin-left: 15px;
				width: 10%;
			}
			&:nth-child(2) {
				width: 15%;
			}
			&:last-child {
				width: 10%;
				margin: 0;
			}
			p {
				float: left;
				margin: 5px 10px;
			}
			input[type="checkbox"] {
				-webkit-appearance: none;
				-moz-appearance: none;
				width: 40px;
				height: 20px;
				border-radius: 20px / 2;
				outline: 0;
				background: #333;
				-webkit-transition: all .15s ease-in-out;
				cursor: pointer;
				margin: 3px 20px;

				&:after {
					content: "";
					display: block;
					width: 16px;
					height: 16px;
					background: #fff;
					border-radius: 8px;
					position: relative;
					top: 2px;
					left: 2px;
					-webkit-transition: all .15s ease-in-out;
				}
				&:checked {
					background: #1abc9c;
					&:after {
						left: 43px / 2;
					}
				}
			}
			width: 15%;
			list-style-type: none;
			float: left;
			margin: 0 30px;
		}

		&:hover {
			-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
			-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
			box-shadow: 0 2px 5px rgba(0,0,0,.2);
			background-color: #f2f2f2;
		}
	}
}

.auth-block {
	.radius;
	.transition2(top, opacity);
	.block-shadow;
	width: 250px;
	height: 160px;
	background: #fff;
	position: absolute;
	top: -200px;
	right: 50px;
	padding: 15px;
	border: 1px solid #ddd;
	opacity: 0;

	h3 {
		margin: 5px 0;
	}

	input {
		.radius;
		border: 1px solid #dedede;
		background: #fff;
		padding: 3px 7px;
		width: 215px;
		margin: 3px;
	}

	button {
		width: 50px;
		height: 25px;
		padding: 0;
		margin: 3px;
	}
}

.auth-active {
	top: 55px;
	opacity: 1;
}


/* Admin panel */

.ap-menu {
	background: #333;
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;

	span {
		margin-right: 10px;
	}

	ul {
		padding: 0;
		li {
			list-style-type: none;
			a {
				.transition2(background, box-shadow);
				font: 1.2em 'PT Sans' sans-serif;
				color: #B2B2B2;
				text-decoration: none;
				text-align: center;
				width: 100%;
				padding: 20px;
				display: block;
				border-bottom: 1px solid #444;

				&:hover {
					-webkit-box-shadow: inset 0 2px 10px rgba(0,0,0,.2);
					-moz-box-shadow: inset 0 2px 10px rgba(0,0,0,.2);
					box-shadow: inset 0 2px 10px rgba(0,0,0,.2);
					color: #fff;
					background: #545454;
					border-right: 3px solid @red;
				}

			}
		}
	}
}

.ap-view {
	h1 {
		font-size: 4em;
	}
	margin-left: 200px;
}


// Create article page
.create-article-header {
	h1 {
		margin-top: 50px;
		font-size: 4em;
	}
}

.article-form {
	.radius;
	.block-shadow;
	padding: 20px;
	background: #fff;
	width: 100%;
	padding: 20px;
	margin: 7px 0;
	font-size: 1.5em;
	color: #333;

	label {
		padding: 5px;
		background: #fff;
		font-size: 1em;
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: 53px;
			left: 50px;
			border-top: 10px solid #fff;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		}
	}
	input[type="text"] {
		.radius;
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		height: 40px;
		width: 100%;
		padding: 10px;
		margin: 7px 0;
		border: 1px solid #dedede;
		font-size: 1em;
		color: #333;
	}
	input[type="file"] {
		float: right;
		padding: 7px;
		border: 1px solid #dedede;
	}
	textarea {
		.radius;
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		resize: vertical;
		height: 250px;
		width: 100%;
		padding: 10px;
		margin: 7px 0;
		border: 1px solid #dedede;
		font-size: 1em;
		color: #333;
	}
	button {
		width: 90px;
		height: 40px;
	}
	a {
		padding-top: 10px;
		width: 90px;
		height: 40px;
		margin-left: 10px;
	}
}

.article-list-wrap {
	.block-shadow;
	padding: 0px !important;
	background: #fff;
	margin: 10px 0;
	display: block;
}

.article-thumb {
	width: 100%;
	height: 350px;
	margin: 0;
	overflow: hidden;

	img {
		width: 100%;
	}
}

.author-block {
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
	box-shadow: 1px 1px 3px rgba(0,0,0,.1);
	background-color: #fff;
	width: 90px;
	height: 120px;
	position: absolute;
	left: 0;
	top: 30px;
	text-align: center;
}

.author-block-name {
	width: 100%;
	height: 35px;
	a {
		.transition2(color,background-color);
		display: block;
		color: #555;
		padding: 5px;

		&:hover {
			color: #fff;
			background-color: #428bca;
			text-decoration: none;
		}
	}
}

.author-block-avatar {
	.radius(30px);
	margin: 15px auto;
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.text-wrap {
	margin: -80px 0 50px 0;
	background: #fff;

	a {
		color: #555;
		&:hover {
			color: @link-color;
			text-decoration: none;
		}
	}

	ul {
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			float: left;
			margin-right: 20px;
		}
	}
}

.article-text {
	font-size: 1.1em;
	line-height: 25px;
}

.publish-data {
	p {
		color: #616161;
	}
}

.loader {
	text-align: center;
	img {
		margin: 25px;
	}
}

.not-load-more {
	.radius;
	.block-shadow;
	width: 300px;
	height: 50px;
	background-color: #fff;
	margin: 20px auto;

	p {
		color: #aaa;
		text-align: center;
		font-size: 1.2em;
		padding-top: 15px;
	}
}

.last-news-block {
	.block-shadow;
	padding: 20px;
	margin: 10px 0;
	background: #fff;

	a {
		color: #555;
		font-size: 1.2em;

		&:hover {
			color: @link-color;
			text-decoration: none;
		}
	}

	h3 {
		margin-left: 20px;
	}
	p {
		margin-top: 10px;
		color: #7C7C7C;
	}

	ul {
		margin: 0 20px;
		padding: 0;
		li {
			list-style-type: none;
		}
	}
}

.article-wrap {
	.block-shadow;
	padding: 20px;
	background: #fff;
}

.article-image {
	z-index: -10;
	overflow: hidden;
	height: 400px;
	img {
		width: 100%;
	}
}

.article-body {
	background-color: #fff;
	z-index: 10;

	h1 {
		margin-left: 20px;
		font-size: 4em;
	}

	p {
		margin-left: 20px;
		margin-right: 20px;
	}

	ul {
		padding: 0;
		li {
			list-style-type: none;
			float: left;
			margin-right: 20px;
		}
	}
}

.text-block {
	img {
		width: 500px;
	}
}

.article-list-manage {
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

.load-more-btn {
	.radius;
	.transition(background-color);
	width: 200px;
	padding: 10px;
	margin: 5px;
	border: none;
	background-color: #1E88E5;
	color: #fff;
	margin: 15px auto;
	text-align: center;
	display: block;

	&:hover {
		cursor: pointer;
		background-color: @blue-btn-hover;
	}

	&:focus {
		outline: none;
		color: #fff;
		text-decoration: none;
	}
}

a.load-more-btn {

	&:hover {
		text-decoration: none;
		color: #fff;
	}
}

.article-header {
	margin: 0 auto;
	background: #333;
	color: #fff;
	margin-bottom: 10px;

	input {
		.radius;
		border-color: 1px solid #dedede;
		color: #333;
		padding: 3px;
	}

	ul{
		margin: 0;
		li {
			&:first-child {
				margin-left: 15px;
				width: 35%;
			}
			&:nth-child(2) {
				width: 20%;
			}
			&:last-child {
				//float: right;
				width: 15%;
				//margin: 0;
			}
			p {
				font-size: 1.2em;
				margin: 0;
			}
			width: 20%;
			list-style-type: none;
			float: left;
			padding: 10px;
		}
	}
}

.article-manage-item {
	ul {
		.transition(opacity);
		border: 1px solid #dedede;
		background: #fff;
		padding: 4px;
		padding-left: 30px;
		margin: 5px;
		li {
			&:first-child {
				margin-left: 15px;
				padding-top: 5px;
				width: 35%;
			}
			&:nth-child(2) {
				width: 20%;
			}
			&:last-child {
				width: 15%;
				margin: 0;
			}
			p {
				float: left;
				margin: 5px 10px;
			}
			a {
				text-decoration: none;
			}
			
			width: 22%;
			list-style-type: none;
			float: left;
		}

		&:hover {
			-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
			-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
			box-shadow: 0 2px 5px rgba(0,0,0,.2);
			background-color: #f2f2f2;
		}
	}
}

.removed {
	opacity: 0;
}

// Carousel slider(main page)
.carousel-inner {
	.block-shadow;
	background-color: #fff;
	.item {
		height: 450px;

		img {
			width: 100%;
		}
	}
}

.caption {
	position: absolute;
	bottom: 14%;
	text-align: left;
	h3 {
		margin: 6px;
		background: #fff;
		color: #333;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 4em;
		padding: 5px;
	}
	a {
		.transition(color);
		color: #444;
		&:hover {
			color: @link-color;
			text-decoration: none;
		}
	}
	p {
		width: 200px;
		padding: 5px;
		position: absolute;
		background: #fff;
		color: #777;
		font-size: 2em;
		margin: 6px;
	}
}

.carousel-wrap {
	position: relative;
}

.indicators {
	position: absolute;
	bottom: 10px;
	right: 50px;
	text-align: center;
	z-index: 10;
}

.indicators li {
	.transition(background);
	.block-shadow;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;

	&:hover {
		background-color: rgba(0,0,0,0);
	}
}

.indicators .active {
	background-color: rgba(0,0,0,0);
}

.mp-article-block {
	.block-shadow;
	background: #fff;
	height: 330px;
	position: relative;
}

.line {
	margin: 20px 0;
	border-bottom: 1px solid #fff;
}

.mp-ab-wrap {
	.transition(width);
	padding: 10px 5px !important;
}

.mp-ab-img {
	height: 170px;
	overflow: hidden;
	border-bottom: 3px solid @header-color;
	img {
		width: 130%;
	}
}

.mp-ab-header {
	padding: 10px;

	h3 {
		margin: 10px 0 !important;
	}
	a {
		color: #555;

		&:hover {
			color: @link-color;
			text-decoration: none;
		}
	}
}

.other-article-data {
	position: absolute;
	bottom: 0;
	height: 40px;
	border-top: 1px solid #dedede;
	width: 100%;

	ul {
		padding: 0;
		li {
			text-align: center;
			width: 50%;
			list-style-type: none;
			float: left;
			padding-top: 10px;

			&:last-child {
				border-left: 1px solid #dedede;
			}
		}
	}

	p {
		color: #777;
	}

	a{
		color: #555;

		&:hover {
			text-decoration: none;
			color: @link-color;
		}
	}
}

.mp-hl {
	padding-top: 20px;
	height: 130px;

	h3 {
		font-size: 3.3em;
		float: left;
		color: #9E9E9E;
	}
	.line {
		margin-top: 50px;
		float: left;
		width: 100%;
		border-bottom: 1px solid #fff;
		border-top: 1px solid #d3d7dc;
	}
}

.block-type-btn {
	margin-top: 30px;

	ul {
		padding: 0;
		li {
			.transition(color);
			list-style-type: none;
			font-size: 2em;
			color: #9E9E9E;
			float: left;
			margin: 0 10px;

			&:hover {
				color: #717171;
				cursor: pointer;
			}
		}
	}
}
.ng-enter {
	.transition(opacity);
	opacity: 0;
	margin-top: 120%;
}

.ng-enter.ng-enter-active {
	opacity: 1;
}

.ng-leave {
	.transition(opacity);
	opacity: 1;
}

.ng-leave.ng-leave-active {
	opacity: 0;
}

.ng-move {
	.transition(opacity);
	opacity: 0;
}

.ng-move.ng-move-active {
	opacity: 1;
}


// Chat

.chat-warp {
	.block-shadow;
	background-color: #fff;
	margin-top: 20px;
	padding: 15px 0;

	form {
		margin-top: 10px;
		width: 100%;

		input {
			.transition(box-shadow, .1s);
			width: 85%;
			height: 50px;
			padding: 5px;
			border: 1px solid #dedede;

			&:focus {
				-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
				-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
				box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
			}
		}
		button {
			width: 15%;
			height: 50px;
			border: none;
			background-color: #56ADFF;
			color: #fff;

			&:hover {
				background-color: #2A98FF;
			}
		}
	}
}

#chat-cont {
	height: 450px;
	width: 100%;
	border: 1px solid #dedede;
	overflow-y: auto;
	background-color: #dedede;
}

.chat-msg-cont {
	border-bottom: 1px solid #eee;
	width: 100%;
	font-size: 1.1em;
	background-color: #fff;
}

.chat-user-info {
	display: block;
	padding: 5px;
	float: left;
	width: 15%;
	min-width: 80px;
	text-align: center;

	img {
		.radius(25px);
		margin-top: 5px;
		width: 50px;
		height: 50px;
	}

	h4 {
		margin: 5px;
		font-size: 1em;
	}
}

.chat-msg {
	border-left: 1px solid #eee;
	float: left;
	width: 85%;
	min-height: 95px;
	padding: 10px;
	position: relative;
	padding-bottom: 20px;
}

.chat-msg-time {
	position: absolute;
	padding: 3px;
	bottom: 0;
	right: 0;
	width: 70px;
	background-color: #ccc;
	color: #fff;
}

.chat-info-block {
	.block-shadow;
	background-color: #fff;
	margin-top: 20px;
	max-height: 540px;
	padding-bottom: 1px;

	h3 {
		width: 100%;
		background-color: @header-color;
		color: #fff;
		font-size: 2em;
		padding: 20px 10px;
		border-bottom: 3px solid #1E88E5;
	}

	p {
		margin: 0 10px;
		padding: 10px;
		background-color: #eee;
		border-bottom: 2px solid #dedede;
		span {
			margin: 0 10px;
		}
	}

	a {
		padding: 10px;
		color: #333;
		border: 1px solid #ddd;
		margin: 10px;
		display: block;
		font-size: 1.5em;

		span {
			margin: 0 5px;
		}

		&:hover {
			background-color: #dedede;
			text-decoration: none;
		}
	}

	ul {
		border: 1px solid #dedede;
		padding: 0;
		margin: 0 10px 20px 10px;

		li {
			width: 100%;
			padding: 5px 25px;
			list-style-type: none;
			border-bottom: 1px solid #dedede;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				.radius(3px);
				margin-top: 12px;
				margin-left: 10px;
				width: 6px;
				background-color: #0f0;
				height: 6px;
			}
		}
	}
}


// Profile page
.profile-wrap {
	.block-shadow;
	padding: 20px !important;
	background-color: #fff;
	height: 290px;
}

.profile-action-wrap {
	padding: 0 !important;
}

.pa-wrap-style {
	.block-shadow;
	background-color: #fff;
	margin-left: 15px;
	height: 290px;
}

.pa-btn {
	.transition(background-color);
	height: 33.3%;
	width: 100%;
	background-color: @header-color;
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
	border-bottom: 3px solid @header-border-bottom-color;
	color: #fff;
	span {
		margin: 5px;
	}
	&:hover {
		background-color: @header-border-bottom-color;
		cursor: pointer;
	}
}

.pp-img-wrap {
	.radius(125px);
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	text-align: center;
	float: left;
}

.pp-info-wrap {
	height: 250px;
	padding-left: 20px;
	float: left;
	border-left: 1px solid #dedede;

	h1 {
		font-size: 3em;
	}
}

.profile-articles-wrap {
	.block-shadow;
	background-color: #fff;
	margin-top: 20px;
	padding: 0 !important;

	h3 {
		margin: 0;
		margin-bottom: 10px;
		width: 100%;
		background-color: @header-color;
		color: #fff;
		font-size: 2.2em;
		padding: 20px 20px;
		border-bottom: 3px solid #1E88E5;
	}

	ul {
		padding: 0 10px;
		li {
			padding: 15px 0 15px 50px;
			list-style-type: none;
			border: 1px solid #ddd;

			span#pa-article-header {
				float: left;
				width: 80%;
				font-size: 1.2em;

				a {
					color: #555;

					&:hover {
						text-decoration: none;
						color: @link-color;
					}
				}
			}
			span#pa-article-date {
				float: left;
				width: 20%;
				color: #555;
			}
		}
	}
}

.modal-msg-window-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	opacity: .7;
	background: #333;
	z-index: 10;
	display: block;
}

.modal-msg-window {
	-webkit-box-shadow: 0 2px 20px rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 20px rgba(0,0,0,.4);
	box-shadow: 0 2px 20px rgba(0,0,0,.4);
	top: 65%;
	left: 50%;
	padding: 20px;
	margin-left: -300px;
	margin-top: -300px;
	min-width: 600px;
	height: 400px;
	background: #fff;
	position: fixed;
	z-index: 20;
	text-align: center;
}

.msg-form {

	input.topic-inp {
		margin-top: 50px;
		width: 100%;
		padding: 5px;
		height: 40px;
		resize: none;
		border: 1px solid #ccc;

		&:focus {
			-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
			-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
			box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
		}
	}

	textarea {
		margin-top: 15px;
		padding: 5px;
		width: 100%;
		height: 200px;
		resize: none;
		border: 1px solid #ccc;

		&:focus {
			-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
			-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
			box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
		}
	}

	button {
		.radius;
		width: 100px;
		background-color: #1E88E5;
		border: none;
		padding: 10px;
		color: #fff;
		float: right;

		&:hover {
			background-color: @blue-btn-hover;
		}
	}
}

.msg-to {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: @header-color;
	border-bottom: 3px solid @header-border-bottom-color;
	h3 {
		color: #fff;
	}
}

.msg-success {
	h3 {
		font-size: 2.5em;
	}
}

// Success animation
.checkmark-circle {
	width: 150px;
	height: 150px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}
.checkmark-circle .background {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #2EB150;
	position: absolute;
}
.checkmark-circle .checkmark {
	border-radius: 5px;
}
.checkmark-circle .checkmark.draw:after {
	-webkit-animation-delay: 100ms;
	-moz-animation-delay: 100ms;
	animation-delay: 100ms;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-name: checkmark;
	-moz-animation-name: checkmark;
	animation-name: checkmark;
	-webkit-transform: scaleX(-1) rotate(135deg);
	-moz-transform: scaleX(-1) rotate(135deg);
	-ms-transform: scaleX(-1) rotate(135deg);
	-o-transform: scaleX(-1) rotate(135deg);
	transform: scaleX(-1) rotate(135deg);
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.checkmark-circle .checkmark:after {
	opacity: 1;
	height: 75px;
	width: 37.5px;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	border-right: 15px solid white;
	border-top: 15px solid white;
	border-radius: 2.5px !important;
	content: '';
	left: 35px;
	top: 80px;
	position: absolute;
}

@-webkit-keyframes checkmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}
	20% {
		height: 0;
		width: 37.5px;
		opacity: 1;
	}
	40% {
		height: 75px;
		width: 37.5px;
		opacity: 1;
	}
	100% {
		height: 75px;
		width: 37.5px;
		opacity: 1;
	}
}
@-moz-keyframes checkmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}
	20% {
		height: 0;
		width: 37.5px;
		opacity: 1;
	}
	40% {
		height: 75px;
		width: 37.5px;
		opacity: 1;
	}
	100% {
		height: 75px;
		width: 37.5px;
		opacity: 1;
	}
}
@keyframes checkmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}
	20% {
		height: 0;
		width: 37.5px;
		opacity: 1;
	}
	40% {
		height: 75px;
		width: 37.5px;
		opacity: 1;
	}
	100% {
		height: 75px;
		width: 37.5px;
		opacity: 1;
	}
}

// New message dropdown block
.mb-new-msg-block {
	.block-shadow;
	background-color: #fff;
	position: absolute;
	text-align: center;
	top: 53px;
	right: 165px;

	ul {
		padding: 0;
		li {
			.transition(background-color);
			position: relative;
			margin: 3px;
			height: 60px;
			border: 1px solid #ddd;
			list-style-type: none;

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			&:hover {
				background-color: #E7EDFF;
			}
		}
	}
}

.mb-from {
	position: absolute;
	top: 5px;
	left: 5px;
}

.mb-date {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #aaa;
	font-size: .8em;
}

.mb-text {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: .8em;
}

.no-msg-note {
	margin-top: 100px;
	text-align: center;

	p {
		color: #aaa;
		font-size: 1.2em;
	}

	span {
		font-size: 5em;
		color: #ddd;
	}
}

.mb-dropdown-show {
	.transition(height);
	overflow: hidden;
	width: 230px;
	height: 320px;
	border-bottom: 3px solid @header-border-bottom-color;
}

.mb-dropdown-hide {
	.transition(height);
	overflow: hidden;
	width: 230px;
	height: 0;
}

// Mailbox
.mailbox-wrap {
	margin-top: 20px;
}
.no-padding {
	padding: 0 !important;
}

.compose-btn {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: center;
	color: #fff;
	font-size: 1.2em;

	a {
		.radius;
		.transition(background-color);
		color: #fff;
		display: block;
		width: 100%;
		height: 100%;
		padding: 10px;
		background-color: @header-border-bottom-color;

		&:hover {
			.radius;
			text-decoration: none;
			color: #fff;
			background-color: @blue-btn-hover;
		}

		&:focus {
			text-decoration: none;
			color: #fff;
		}
	}

	span {
		margin-right: 10px;
	}
}

.mailbox-nav {
	.block-shadow;
	margin: 5px;
	padding: 10px;
	background-color: #fff;

	ul {
		padding: 0;
		li {
			position: relative;
			border: 1px solid #eee;
			font-size: 1.2em;
			margin: 1px;
			list-style-type: none;

			span {
				margin-right: 10px;
			}

			a {
				.transition2(background-color, border-left);
				padding: 15px;
				color: #555;
				width: 100%;
				height: 100%;
				display: block;

				&:hover {
					background-color: #E7EDFF;
					border-left: 3px solid @header-border-bottom-color;
					text-decoration: none;
				}

				&:focus {
					text-decoration: none;
				}
			}
		}
	}
}

.inbox-count {
	.radius(15px);
	width: 30px;
	height: 30px;
	position: absolute;
	text-align: center;
	padding-top: 4px;
	right: 5px;
	top: 10px;
	color: #fff;
	background-color: #777;
}

.inbox-wrap {
	.block-shadow;
	padding: 0 !important;
	margin: 5px;
	margin-bottom: 50px;
	background-color: #fff;
}

.mailbox-header {
	h3 {
		font-size: 2.5em;
		padding: 15px 20px;
		width: 100%;
		margin: 0;
		color: #fff;
		background-color: @header-color;
		border-bottom: 3px solid @header-border-bottom-color;
	}
}

.mailbox-mail-list {
	padding: 10px;

}

.mailbox-table-row {
	ul {
		.transition(opacity);
		border: 1px solid #eee;
		background: #fff;
		padding: 4px;
		padding-left: 30px;
		margin: 5px;
		li {
			&:first-child {
				margin-left: 15px;
				width: 30%;
			}
			&:nth-child(2) {
				width: 40%;
			}
			&:nth-child(3) {
				width: 25%;
			}
			p {
				float: left;
				margin: 5px 0;
			}
			a {
				text-decoration: none;
			}

			list-style-type: none;
			float: left;
		}
	}
}

.unread-mail {
	border-color: #ccc !important;
	background-color: #FFF6CE !important;
	color: #333;
}

.mailbox-list-header {
	ul {
		background-color: #eee;
		border-bottom: 2px solid #dedede;
		height: 40px;
	}
}

.mailbox-list-item {
	a {
		color: #777;

		&:hover {
			color: #555;
		}
	}

	ul {
		padding-top: 20px;
		padding-bottom: 15px;

		li {
			button {
				margin-top: -10px;
				margin-left: 5px;
				padding: 7px 10px 7px 7px;
			}
		}

		&:hover {
			background-color: #E7EDFF;
		}
	}
}

.single-mail {
	.block-shadow;
	margin: 5px;
	background-color: #fff;
}

.single-mail-header {
	margin-top: 10px;

	span {
		color: #aaa;
		margin: 10px;
		float: left;
	}

	h3 {
		color: #555;
		margin: 7px;
	}
}

.single-mail-btn {
	padding-top: 15px;
	button {
		span {
			margin-right: 5px;
		}
	}
}

.single-mail-info {
	margin-top: 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.mail-sender-info {
	padding: 10px;
	width: 70%;
	float: left;
	span {
		color: #aaa;
		margin: 5px 5px 5px 0;
		float: left;
	}

	p {
		margin: 5px;
	}
}

.mail-info-from {
	width: 40%;
	float: left;
	p {
		color: #555;
	}
}

.mail-info-to {
	width: 40%;
	float: left;
	p {
		color: #555;
	}
}

.mail-date-info {
	padding-top: 15px;
	padding-bottom: 5px;
	float: left;
	width: 30%;
	color: #777;

	span {
		margin-right: 10px;
	}
}

.single-mail-text {
	padding: 30px 10px;

	p {
		color: #555;
	}
}

.compose-wrap {
	.block-shadow;
	margin: 5px;
	background-color: #fff;
	padding: 0 !important;

	input,
	textarea {
		border: 1px solid #ddd;
		padding: 7px;
	}
}

.cp-header {
	margin-bottom: 20px;
	h3 {
		font-size: 2.5em;
		padding: 15px 20px;
		width: 100%;
		margin: 0;
		color: #fff;
		background-color: @header-color;
		border-bottom: 3px solid @header-border-bottom-color;
	}
}

.cp-to,
.cp-topic {
	width: 100%;
	padding: 5px 15px;
	input {
		.transition(box-shadow, .1s);
		width: 100%;

		&:focus {
			-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
			-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
			box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		}
	}
}

.cp-to {
	input {
		.transition2(border, background-color);
	}
}

.cp-text {
	width: 100%;
	padding: 15px;
	textarea {
		.transition(box-shadow, .1s);
		width: 100%;
		min-height: 300px;
		resize: vertical;

		&:focus {
			-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
			-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
			box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		}
	}
}

.compose-success {
	.block-shadow;
	text-align: center;
	background-color: #fff;
	margin: 5px;

	h3 {
		margin: 50px 0;
		font-size: 2.5em;
	}

	.new-message {
		margin: 50px auto;
	}
}

.mb-msg-err-invalid {
	border: 1px solid #FF9C9C !important;
}

.cp-err-note-hide {
	opacity: 0;
	border: none;
	color: #fff;
	background-color: transparent;
}

.cp-err-note-show {
	.transition(opacity);
	.radius;
	opacity: 1;
	margin: 3px;
	padding: 5px 10px;
	border: 1px solid #FF9C9C;
	background-color: #FFB6B6;
}